<h1 id="tableLabel">Podcasts</h1>

<p>This component retrieves podcasts from the server.</p>

<p *ngIf="!podcasts"><em>Loading...</em></p>

<table style="width:95%;margin:20px;">
  <tr>
    <td>
      <mat-form-field *ngIf="podcasts" class="search-input">
        <input #searchBox matInput placeholder="Search..." (keyup.enter)="onSearch(searchBox.value)">
        <mat-hint>Search for a podcast title.</mat-hint>
      </mat-form-field>
    </td>

    <td>
      <mat-checkbox *ngIf="podcasts" class="favorites-check" (change)="filterFavorites($event.checked)">Show favorites only!</mat-checkbox>
    </td>
  </tr>
</table>

<table class='table table-striped podcasts-table' aria-labelledby="tableLabel" *ngIf="podcasts">
  <thead>
    <tr>
      <th>Favorite</th>
      <th>Title</th>
      <th>Url</th>
      <th>Author</th>
      <th>NumberOfEpisodes</th>
      <th>Image</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let podcast of podcasts">
      <td><img src="{{ GetFavoriteIconUrl(podcast.isFavorite) }}" (click)="favoritePodcast(podcast.id)" /></td>
      <td><a href="/fetch-episodes?podcast={{ podcast.id }}">{{ podcast.title }}</a></td>
      <td>{{ podcast.url }}</td>
      <td>{{ podcast.author }}</td>
      <td>{{ podcast.numberOfEpisodes }}</td>
      <td><img class="podcast-picture" src="{{ podcast.picture }}" alt="No Image"/></td>
      <td>
        <button class="btn btn-primary" (click)="removePodcast(podcast.id)">Remove</button>
      </td>
      <td>
        <button class="btn btn-primary" (click)="refreshPodcast(podcast.id)">Refresh</button>
      </td>
    </tr>
  </tbody>
</table>

<button class="btn btn-primary" (click)="findPodcast()">Add Podcast</button>
