<div *ngIf="!isLoggedIn" class="example-form">
  <h1>Hello, user!</h1>
  <em>Please take your time to login</em>

  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com">
    <mat-hint>Please enter your email.</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher" type="password">
    <mat-hint>Please enter your password.</mat-hint>
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <button class="btn btn-primary" (click)="login()">Login</button>
  <h3>{{lastLoginError}}</h3>

  <div>
    <button (click)="authenticate()">Google Authenticate</button>
    <h6 style="color:indianred">{{googleError.error}}</h6>
  </div>
</div>

<div *ngIf="isLoggedIn" class="example-form">
  <h1>Hello, {{ LoggedUserName()}} </h1>
  <h3>{{LoggedUserEmail()}}</h3>
  <em>Please take your time to browse through our podcasts.</em>
  <p></p>
  <button class="btn btn-primary" (click)="logout()">Logout</button>
</div>


