<h1 id="tableLabel">{{podcastTitle}}</h1>
<h2 id="tableLabel">Episodes</h2>

<p *ngIf="!episodes"><em>Loading...</em></p>

<mat-form-field *ngIf="episodes" class="example-full-width">
  <input #searchEpisodeBox matInput placeholder="Search..." (keyup.enter)="onSearchEpisode(searchEpisodeBox.value)">
  <mat-hint>Search for an episode title.</mat-hint>
</mat-form-field>

<table class='table table-striped container' aria-labelledby="tableLabel" *ngIf="episodes">
  <thead>
    <tr>
      <th></th>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Author</th>
      <th>Picture</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let episode of episodes">
      <td>
        <button class="btn btn-primary" (click)="playEpisode(episode.link)">View</button>
      </td>
      <td>{{ episode.id }}</td>
      <td>{{ episode.title }}</td>
      <td style="overflow:auto; max-width:300px; max-height:200px">{{ episode.description }}</td>
      <td>{{ episode.author }}</td>
      <td><img class="episode-picture" src="{{ episode.picture }}" alt="No Image" /></td>
      <td>
        <button class="btn btn-primary" (click)="removeEpisode(episode.id)">Remove</button>
      </td>
    </tr>
  </tbody>
</table>
